html,
body {
  height: 100%;
}

body {
  padding-top: 56px;
  display: flex;
  flex-direction: column;

  & > .content {
    flex-grow: 1;
  }
}

.cart-item-qty {
  input {
    flex-basis: 70px !important;
    max-width: 70px;
  }
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}